<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/romygkoenig/Yesh-"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Yesh-468906040530614/?modal=admin_todo_tour"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Make your party awesome - With <i class="fas fa-heart"></i> from Yesh!
  </div>
</div>
