<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://bminusblogs.files.wordpress.com/2013/04/great-gatsby-dicaprio-cheers.jpg);">
  <div class="container">
    <h1><strong style="color: #620089">YESH!</strong> - A litte Party never killed nobody!</h1>
    <p>Book <strong style="color: #620089">local performers</strong> and bring your Party to the next level </p>
    <a class="card-btn" href="#">Search now</a>
  </div>
</div>

