// .container-custom {
//   width: 80vw;
//   margin: 0 auto;
// }

.performance-title {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 500;
}

.avatar-review {
  margin-bottom: 0;
}

.first-name-review {
  font-size: 14px;
}

.details-reviewer {
  text-align: center;
}

.performance-options {
  font-size: 16px;
  opacity: 0.4;
}

.performance-image {
  margin-bottom: 8px;
}

.return-link {
  margin-top:8px;
  display: block;
  color: #5C1C83;
  }

// ==================================================

.card-performance {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 0;
  margin-right: 40px;
  height: 270px;
}

.card-performance > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.avatar-performance {
  margin-top: 8px;
  margin-bottom: 24px;
  width: 64px;
  height: 64px;
}

.card-performance h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-performance p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-performance .card-performance-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-performance-infos .card-performance-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
