.container-custom {
  width: 80vw;
  margin: 0 auto;
}

#performance-title {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 500;
}

.avatar-review {
  margin-bottom: 0;
}

.first-name-review {
  font-size: 14px;
}

.details-reviewer {
  text-align: center;
}

.performance-options {
  font-size: 16px;
  opacity: 0.4;
}

.performance-image {
  margin-bottom: 8px;
}
