.card-btn {
  background-color:transparent;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #620089;
  display:inline-block;
  cursor:pointer;
  color:#620089;
  font-size:14px;
  font-weight:bold;
  padding:7px 43px;
  text-decoration:none;
  transition: 0.3s;
}

// Update Booking/Perrformance Button

.card-btn:hover {
  background-color:#620089;
  border:1px solid #4d016d;
  text-decoration:none;
  color: white;
}

.card-btn:active a {
  position:relative;
  top:1px;
}

.devise-btn {
  a {
  color: #620089;
  }
  padding-top: 15px;
}
