// Performance Overview Cards

.card-performance {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 290px;
  border-radius: 5px;
  margin: 10px;
}

.card-performance-img {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //position: relative;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
    width : 160px; /* this could be defined on any parent */
}

.ellipsis:after{
  content:'...';
}

.card-performance h2 {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 7px;
}

.card-performance p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-performance .card-performance-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
  color: black;
}

.card-performance-infos .card-performance-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  height: 40px;
}

// Booking Overview

.card-booking {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-booking img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-booking .card-booking-infos {
  padding: 16px;
}

a:hover {
  text-decoration:none;
}
 //for index account bookings
.card-product {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p, span {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product a {
  color: black;
  & :hover {
    color: black;
  }
}


.card-product .card-product-infos {
  padding: 16px;
}

.main {
  display: flex;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
}

.cards-container {
   flex-grow: 1;
}

.cards-container h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #620089;
}
